@font-face {
    font-family: "Open sans" ;
    src: url(/assets/Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Slabo 27px" ;
    src: url(/assets/Font/Slabo27px-Regular.ttf);
}

body {
    background-image: url(../images/fond.png);
    font-size: 1em;
    font-family:'Open sans';
    margin-top: 260px;
}

.container {
    min-width: 800px;  /*pour scroller*/
    max-width: 1100px;
    margin: auto;
}

header {
    background-color: #34B1B2;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0px; /* etirer le header du right au left*/
    right: 0px;
    border-top: 4px solid #2f9696;
    border-bottom: 4px solid #2f9696;  
}

.logo {
    width: 200px;
    margin: auto;
}

li {
    display: inline;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

header a {      /*les "a" qui sont dans le header*/
    font-size: 1em;
    color: #fff;
}

.welcome {
    text-align: center;
    width: 500px;
    margin: auto;
    color: #66898C;
}

h2,
h3,
nav {
    font-family: 'Slabo 27px';
}

.welcome-title {
    font-size: 2.5em;
}

.today-title {
    font-size: 3.5em;
}

.recipe-title {
    font-size: 1.8em;
}

.news-title {
    font-size: 1.4em;
}

.todayspecial {
    background-color: #D3EEEE;
    width: 70%;
    text-align: center;
    color: #66898C;
    box-sizing: border-box; 
}

span, .ion-icon {
    color: #2F9696;
}

.today-events {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.plats {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 40px 20px;
}

.plats p {
    text-align: justify;
    line-height: 1.6em;
}

.plats img {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.crusty-fish, .multifish {
    width: 45%;
    padding: 0 10px 60px 10px;
    height: fit-content;
    position: relative;
}

button .ion-icon {
    color: #fff;
}

button {
    background-color: #34B1B2;
    border: none;
    padding: 10px;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

aside {
    width: 28%;
    background-color: #34B1B2;
    color: #fff;
    border: 4px solid #2f9696;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
}

.aside-div {
    width: 85%;
    margin: 30px auto;
}

aside span {
    color: #D3EEEE;
}

aside .ion-icon {
    color: #D3EEEE;
}

aside img {
    width: 120px;
    position: absolute;
    top: -50px;
    right: -50px;
}

aside img:hover {
    transform: scale(1.2) rotate(45deg);
    /* transition-property: ; */
    transition-duration: 0.5s;
}

footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 20px;
}

.share {
    background-color: #e5f8f8;
    height: fit-content;
    width: 60px;
    position: fixed;
    top: 200px;
    left: 0px;
    box-shadow: 5px 5px 7px #2F9696;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.share div:hover {
    transform: scale(1.2) translateX(0.2em);
}

.icon-fb {
    color: #1977F3;
    font-size: 45px;
    margin-left: 8px;
}


.icon-ig {
    /* color: #C008E4;
    font-size: 45px;
    margin-left: 10px; */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 45px;
    margin-left: 10px;
}

.icon-wtsp {
    color: #03C100;
    font-size: 45px;
    margin-left: 10px;
}

.icon-twitttter {
    color: #1DA1F3;
    font-size: 45px;
    margin-left: 10px;
}

.icon-yt {
    color: #F70000;
    font-size: 45px;
    margin-left: 5px;
}


/* .whatsapp {
    background-color: #03C100;
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 60px; 
    box-shadow: 7px 7px 7px rgba(3, 98, 0, 0.712);   
}

.whatsapp i {
    color: white;
    font-size: 40px;
    margin: 10px
} */

/* .whatsapp {
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-align: center;
}

.icon-wtsp {
    background-color: #03C100;
    height: 60px;
    width: 60px;
    border-radius: 60px; 
    box-shadow: 7px 7px 7px rgba(3, 98, 0, 0.712);
    font-size: 45px;
    color: white;
} */

/* .facebook {
    background-color: white;
    position: fixed;
    bottom: 100px;
    right: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 60%;
    box-shadow: 7px 7px 7px rgba(0, 33, 98, 0.712);  
}

.icon-fb {
    color: #1977F3;
    font-size: 45px;
} */

/* .instagram {
    background-color: white;
    position: fixed;
    bottom: 170px;
    right: 20px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 60px;
    box-shadow: 7px 7px 7px rgba(98, 0, 51, 0.712);
}

.icon-ig {
    color: #C008E4;
    font-size: 45px;
} */

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}



.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px; /*centrer icon au milieu*/
}

.wrapper .icon:hover span i {
    color: #fff;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    
}

.wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #3b5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #46C1F6;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #DE463B;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
    background: #03C100;
}